body{
    user-select: none;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
:root{
    --color-background : #111111;
    --color-text1: #dfdfdf;
    --color-card: #1e1e1e;
    --color-else:#b689f9;
    --color-text2:#b2becd;

}


.light-mode{
    --color-background : #6300ed;
    --color-text1: #dfdfdf;
    --color-card: #1e1e1e;
    --color-else:#b689f9;
    --color-text2:#b2becd;

}


form{
    padding: 1rem;
    margin: 1rem;
}
form input{
    padding: 0.5rem;
    min-width: 25rem;
    font-size: 1.2rem;
    outline: none;
    border: 1px solid #777;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.5rem #ccc;
}
main{
    border: 1px solid;
    max-width: 50rem;
    display: flex;
    padding: 2rem;
    border-radius: 1rem;
}
main .card{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}
main .card img{
    width: 40%;
    display: block;
    user-select: none;
    border-radius: 50%;
}
main .user-info .info {
    display: flex;
    flex-direction: row;

}
main .user-info .info p {
   display: flex;
   justify-items: center;
   margin: 1rem;
   padding: .4rem;
}
main .card .avatar {
    width: 85%;
    border: 5px solid black;

}
main .repo{
    text-decoration: none;
    margin: .2rem;
    padding: .2rem;
}
.theme-btn{
    border: 1px solid red;
    top: 5%;
    right: 3%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    }
